.container {
    display: grid;
    grid-template-columns: [inline-start] 200px [inline-end] 500px;
    grid-template-rows: 100px 600px;
}

.item {
    border: 1px solid red;
    counter-increment: item;
}

.item::before {
    content:counter(item);
}
.item:nth-of-type(4) {
    border-color: blue;
    grid-column-start: 1;
    grid-column-end: inline-end ;
    grid-column-end: -1 ;

    grid-row-start: 1;
    grid-row-end: 6;
}

.item:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-column: 1/inline-end;
}